//seo section
.seo-item{
	.seo-content{
		h2{
			text-transform:uppercase;
			margin:0px;
			padding:0px;
			margin-bottom:20px;
		}
		h6{
			margin-bottom:10px;
		}
		p{
			margin:0px;
			padding:0px;
			margin-bottom: 10px;
		}
		a{
			margin-top:30px;
		}
	}
}